/*
figure{
	margin: 0 auto;
	width:960px;
	
}
figure{
	border:5px solid #000;
}
figure img{
	padding:20px 280px 0 280px;
}
figure figcaption{
	font:400 24px/14 "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
	margin-top:0;
	padding-top:0;
}

.fa:hover{
	background:linear-gradient{#f25242, #e5e5e5);
	*zoom:10;
*/
}
